/* generics */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

html{
    scroll-behavior: smooth;
}
    
.container{
    width: 900px;
    margin: 0 auto;
}

/* utils */

.d-flex{
    display: flex;
}

ul li{
    list-style-type: none;
    padding: 0 20px;
    
}

li a{
    text-decoration: none;
    color: #000000;
    text-align: center; 
    line-height: 50px; 
}


/* main */

.red-page{
    background-color: #ff0000;
    color: #FFFF00;
}

.green-page{
    background-color: #008000;
    color: #FFFF00;
}

.yellow-page{
    background-color: #FFFF00;
    color: #008000;
}
.page{
    height: 100vh;
    width: 100%;
}

.page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt{
    font-size: 48px;
    text-align: center;
}

/* nav */

.navbar{
    position: fixed;
    right: 10px;
    top: 10px;
}
.round{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}